
@import url('./base/_func.scss');
@import url('./base/_mixins.scss');
@import url('./base/_variables.scss');


@import url('./components/_header.scss');
@import url('./components/_footer.scss');

@import '../sass/pages/main.scss';