<header class="header">
    <div class="container_1">
        <div class="row">
            <div class="col-12">

                <div class="header__content">
                    <div class="header__logo">
                        <img src="../img/Fill-1.svg" alt="" style="margin-right: 10px;">
                        <img src="../img/M.svg" alt="">
                        <img src="../img/A.svg" alt="">
                        <img src="../img/T.svg" alt="">
                        <img src="../img/T.svg" alt="">
                        <img src="../img/E.svg" alt="">
                        <img src="../img/L.svg" alt="">

                        <img src="../img/C.svg" alt="" style="margin-left: 8px;">
                        <img src="../img/R.svg" alt="">
                        <img src="../img/E.svg" alt="">
                        <img src="../img/A.svg" alt="">
                        <img src="../img/T.svg" alt="">
                        <img src="../img/A.svg" alt="">
                        <img src="../img/I.svg" alt="">
                        <img src="../img/O.svg" alt="">
                        <img src="../img/N.svg" alt="">

                        <div class="logo-text"></div>
                    </div>
                    <nav>
                        <!-- Navigation bar -->
                        <ul>
                            <li><a href="#">Brands</a></li>
                            <li><a href="#">Virtual</a></li>
                            <li><a href="#">Membership</a></li>
                        </ul>
                    </nav>

                    <div class="instrument">
                        <div class="header-text"> Sign In</div>
                        <img src="../img/basket.svg" alt="">
                        <img src="../img/search." alt="">
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>

