<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                </head>

                <body>
                    <nav>
                        <!-- Navigation bar -->
                        <ul>
                            <li><a href="#">Brands</a></li>
                            <li><a href="#">Virtual</a></li>
                            <li><a href="#">Membership</a></li>
                            <li><a href="#">Sign In</a></li>
                        </ul>
                    </nav>

                    

            </div>
        </div>
    </div>
</header>