.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 2px;
}

a {
    text-decoration: none;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.17px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

ul li {

    list-style-type: none;
}

.header-text {
    color: #000;

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.17px;
}

.instrument {
    display: flex;
    align-items: center;
}

.instrument .header-text {
    margin-right: 20px;
}